<link href="http://cdn.materialdesignicons.com/2.1.99/css/materialdesignicons.min.css" rel="stylesheet" />
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-4 mx-auto">
		<div class="card">
		  <div class="card-body">
			<form name="myForm" ng-submit="submitForm()" novalidate>
			  <div class="form-group">
				<label>Email address <span class="text-danger">*</span></label>
				<input name="email" type="email" class="form-control" placeholder="Enter Email address">
			  </div>
			  <div class="form-group">
				<label>Password <span class="text-danger">*</span></label>
				<input name="password" type="password" class="form-control" placeholder="Enter Password">
			  </div>
			<div class="form-group">
					
			<div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
        <label class="custom-control-label" for="customControlAutosizing">Remember Me</label>
      </div>
			
			</div>
			  <button type="submit" class="btn btn-success btn-block">SIGN IN</button>
			</form>
			<div class="mt-4 text-center">
			<a href="#/register">Sign up for HelperLink</a>
			</div>
		  </div>
		</div>
		</div>
	</div>
</div>