<link href="css/dropdown.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="container">
	<div class="row">
	<ul id="accordion" class="accordion">
    <li>
<div class="col col_4 iamgurdeep-pic">
<img class="img-fluid gurjawaddi" alt="gurjawaddi" src="https://image.flaticon.com/icons/png/512/20/20863.png">
<div class="edit-pic">
<a href="https://web.facebook.com/gurjawaddi" target="_blank" class="fa fa-facebook"></a>
<a href="https://www.instagram.com/gurdeeposahan/" target="_blank" class="fa fa-instagram"></a>
<a href="https://twitter.com/gurdeeposahan1" target="_blank" class="fa fa-twitter"></a>



</div>
<div class="username">
    <h2>{{profile.helperName}}<small><i class="fa fa-map-marker"></i> {{profile.helperNation}}</small></h2>
    <p><i class="fa fa-briefcase"></i> Domestic helper in Hong Kong.</p>
    
    <a href="https://web.facebook.com/gurjawaddi" target="_blank" class="btn-o"> <i class="fa fa-pen"></i> Edit Profile </a>
    
    
     <ul class="nav navbar-nav">
        <li class="dropdown">
          <ul class="dropdown-menu pull-right">
            <li><a href="#">Video Call <i class="fa fa-video-camera"></i></a></li>
            <li><a href="#">Poke <i class="fa fa-hand-o-right"></i></a></li>
            <li><a href="#">Report <i class="fa fa-bug"></i></a></li>
            <li><a href="#">Block <i class="fa fa-lock"></i></a></li>
          </ul>
        </li>
      </ul>
   
</div>
    
</div>
        
    </li>
		<li>
			<div class="link"><i class="fa fa-globe"></i>About<i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
				<li><a href="#">Helper ID :{{profile.helperId}}</a></li>
				<li><a href="#">Agents : {{profile.agents}}</a></li>
				<li><a href="#">ID No. : {{profile.helperIdNo}}</a></li>
				<li><a href="#">Religion : {{profile.religion}}</a></li>
			</ul>
		</li>
		<li class="default open">
			<div class="link"><i class="fa fa-code"></i>Professional Skills<i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
			<li><a href="#"><span class="tags">Newborn (0-1)</span> <span class="tags">Toddler (1-3)</span> <span class="tags">Child (3-12)</span> <span class="tags">Teen (12-18)</span> 
                <span class="tags">Elderly</span> <span class="tags">Special needs</span> <span class="tags">Pet</span> <span class="tags">Indian food</span> 
                <span class="tags">Car Washing</span> <span class="tags">Housework</span> <span class="tags">Groceries</span> <span class="tags">Cleaning</span></li></a>
			</ul>
		</li>
		<li>
			<div class="link"><i class="fa fa-picture-o"></i>Photos <small>20</small><i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
				<li class="photosgurdeep"><a href="#"><img class="img-responsive gurjawaddi" alt="gurjawaddi" src="https://cdn.pixabay.com/photo/2017/06/13/12/53/profile-2398782_960_720.png">                 
				</a>
                <a href="#"><img class="img-responsive gurjawaddi" alt="gurjawaddi" src="https://cdn.pixabay.com/photo/2017/06/13/12/53/profile-2398782_960_720.png">                 
    			</a>
                <a href="#"><img class="img-responsive gurjawaddi" alt="gurjawaddi" src="https://cdn.pixabay.com/photo/2017/06/13/12/53/profile-2398782_960_720.png">                 
    			</a>
                <a href="#"><img class="img-responsive gurjawaddi" alt="gurjawaddi" src="https://cdn.pixabay.com/photo/2017/06/13/12/53/profile-2398782_960_720.png">                 
    			</a>
               
                <a class="view-all" href="https://web.facebook.com/gurjawaddi" target="_blank" >15+
        		</a>
    			    
				</li>
			</ul>
		</li>
	</ul>
	</div>
</div>